body {  
    background: linear-gradient(#c6ffdd,#fbd786,#f7797d);
    font-size: 21px; 
    height: auto;
    font-family: Gill Sans; 
    margin: 40px 20px;
} 

h1 {
    align-items: center; 
    text-align: center;
}  

img {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
} 

h3 {
    align-items: center; 
    text-align: center;
} 

a {
    color: #00b8;
    text-decoration: none;
} 

.box {
    display: flex; 
    justify-content: center;
} 

.img-1 {
    margin: 20px 10px;
}
